In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ipython-sql
!pip install ipython-sql prettytable
%load_ext sql

import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

!pip install -q pandas
%sql sqlite:///my_data1.db

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 23.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl size=1193602 sha256=2d3df01aa329f62c8763b3e65c06b1c3fe8ee931c8f083b0ee23c5af720f09a9
  Stored in directory: /root/.cache/pip/wheels/3a/7c/1e/12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.40
    Uninstalling SQLAlchemy-2.0.40:
      Successfully uninstalled SQLAlchemy-2.0.40
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
langchain 0.3.23 requires SQLAlchemy<3,>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.40-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.13.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading sqlalchemy-2.0.40-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 30.4 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 50.4 MB/s eta 0:00:00
Installing collected packages: sqlalchemy, jedi
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed jedi-0.19.2 sqlalchemy-2.0.40
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.40)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.13.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [ ]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [ ]:
#DROP THE TABLE IF EXISTS
%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [ ]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [ ]:
#Task 1: display the names of the unique launch sites in the space mission
full_table = %sql select * from SPACEXTABLE
print(full_table)

 * sqlite:///my_data1.db
Done.
+------------+------------+-----------------+--------------+---------------------------------------------------------------+-------------------+-------------+-----------------------------------------------------------+----------------------------------+------------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site  |                            Payload                            | PAYLOAD_MASS__KG_ |    Orbit    |                          Customer                         |         Mission_Outcome          |    Landing_Outcome     |
+------------+------------+-----------------+--------------+---------------------------------------------------------------+-------------------+-------------+-----------------------------------------------------------+----------------------------------+------------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40  |              Dragon Spacecraft Qualification Unit             |         0         |     LEO     |                           SpaceX                          |             Success              |  Failure (parachute)   |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40  | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         |  LEO (ISS)  |                      NASA (COTS) NRO                      |             Success              |  Failure (parachute)   |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40  |                     Dragon demo flight C2                     |        525        |  LEO (ISS)  |                        NASA (COTS)                        |             Success              |       No attempt       |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40  |                          SpaceX CRS-1                         |        500        |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |       No attempt       |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40  |                          SpaceX CRS-2                         |        677        |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |       No attempt       |
| 2013-09-29 |  16:00:00  |  F9 v1.1  B1003 | VAFB SLC-4E  |                            CASSIOPE                           |        500        |  Polar LEO  |                            MDA                            |             Success              |  Uncontrolled (ocean)  |
| 2013-12-03 |  22:41:00  |     F9 v1.1     | CCAFS LC-40  |                             SES-8                             |        3170       |     GTO     |                            SES                            |             Success              |       No attempt       |
| 2014-01-06 |  22:06:00  |     F9 v1.1     | CCAFS LC-40  |                           Thaicom 6                           |        3325       |     GTO     |                          Thaicom                          |             Success              |       No attempt       |
| 2014-04-18 |  19:25:00  |     F9 v1.1     | CCAFS LC-40  |                          SpaceX CRS-3                         |        2296       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |   Controlled (ocean)   |
| 2014-07-14 |  15:15:00  |     F9 v1.1     | CCAFS LC-40  |            OG2 Mission 1  6 Orbcomm-OG2 satellites            |        1316       |     LEO     |                          Orbcomm                          |             Success              |   Controlled (ocean)   |
| 2014-08-05 |  8:00:00   |     F9 v1.1     | CCAFS LC-40  |                           AsiaSat 8                           |        4535       |     GTO     |                          AsiaSat                          |             Success              |       No attempt       |
| 2014-09-07 |  5:00:00   |  F9 v1.1 B1011  | CCAFS LC-40  |                           AsiaSat 6                           |        4428       |     GTO     |                          AsiaSat                          |             Success              |       No attempt       |
| 2014-09-21 |  5:52:00   |  F9 v1.1 B1010  | CCAFS LC-40  |                          SpaceX CRS-4                         |        2216       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |  Uncontrolled (ocean)  |
| 2015-01-10 |  9:47:00   |  F9 v1.1 B1012  | CCAFS LC-40  |                          SpaceX CRS-5                         |        2395       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |  Failure (drone ship)  |
| 2015-02-11 |  23:03:00  |  F9 v1.1 B1013  | CCAFS LC-40  |                             DSCOVR                            |        570        |     HEO     |                  U.S. Air Force NASA NOAA                 |             Success              |   Controlled (ocean)   |
| 2015-03-02 |  3:50:00   |  F9 v1.1 B1014  | CCAFS LC-40  |                   ABS-3A Eutelsat 115 West B                  |        4159       |     GTO     |                        ABS Eutelsat                       |             Success              |       No attempt       |
| 2015-04-14 |  20:10:00  |  F9 v1.1 B1015  | CCAFS LC-40  |                          SpaceX CRS-6                         |        1898       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |  Failure (drone ship)  |
| 2015-04-27 |  23:03:00  |  F9 v1.1 B1016  | CCAFS LC-40  |                     Turkmen 52 / MonacoSAT                    |        4707       |     GTO     |             Turkmenistan National Space Agency            |             Success              |       No attempt       |
| 2015-06-28 |  14:21:00  |  F9 v1.1 B1018  | CCAFS LC-40  |                          SpaceX CRS-7                         |        1952       |  LEO (ISS)  |                         NASA (CRS)                        |       Failure (in flight)        | Precluded (drone ship) |
| 2015-12-22 |  1:29:00   |   F9 FT B1019   | CCAFS LC-40  |            OG2 Mission 2  11 Orbcomm-OG2 satellites           |        2034       |     LEO     |                          Orbcomm                          |             Success              |  Success (ground pad)  |
| 2016-01-17 |  18:42:00  |  F9 v1.1 B1017  | VAFB SLC-4E  |                            Jason-3                            |        553        |     LEO     |                    NASA (LSP) NOAA CNES                   |             Success              |  Failure (drone ship)  |
| 2016-03-04 |  23:35:00  |   F9 FT B1020   | CCAFS LC-40  |                             SES-9                             |        5271       |     GTO     |                            SES                            |             Success              |  Failure (drone ship)  |
| 2016-04-08 |  20:43:00  |  F9 FT B1021.1  | CCAFS LC-40  |                          SpaceX CRS-8                         |        3136       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |  Success (drone ship)  |
| 2016-05-06 |  5:21:00   |   F9 FT B1022   | CCAFS LC-40  |                            JCSAT-14                           |        4696       |     GTO     |                   SKY Perfect JSAT Group                  |             Success              |  Success (drone ship)  |
| 2016-05-27 |  21:39:00  |  F9 FT B1023.1  | CCAFS LC-40  |                           Thaicom 8                           |        3100       |     GTO     |                          Thaicom                          |             Success              |  Success (drone ship)  |
| 2016-06-15 |  14:29:00  |   F9 FT B1024   | CCAFS LC-40  |                   ABS-2A Eutelsat 117 West B                  |        3600       |     GTO     |                        ABS Eutelsat                       |             Success              |  Failure (drone ship)  |
| 2016-07-18 |  4:45:00   |  F9 FT B1025.1  | CCAFS LC-40  |                          SpaceX CRS-9                         |        2257       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |  Success (ground pad)  |
| 2016-08-14 |  5:26:00   |   F9 FT B1026   | CCAFS LC-40  |                            JCSAT-16                           |        4600       |     GTO     |                   SKY Perfect JSAT Group                  |             Success              |  Success (drone ship)  |
| 2017-01-14 |  17:54:00  |  F9 FT B1029.1  | VAFB SLC-4E  |                         Iridium NEXT 1                        |        9600       |  Polar LEO  |                   Iridium Communications                  |             Success              |  Success (drone ship)  |
| 2017-02-19 |  14:39:00  |  F9 FT B1031.1  |  KSC LC-39A  |                         SpaceX CRS-10                         |        2490       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |  Success (ground pad)  |
| 2017-03-16 |  6:00:00   |   F9 FT B1030   |  KSC LC-39A  |                          EchoStar 23                          |        5600       |     GTO     |                          EchoStar                         |             Success              |       No attempt       |
| 2017-03-30 |  22:27:00  |  F9 FT  B1021.2 |  KSC LC-39A  |                             SES-10                            |        5300       |     GTO     |                            SES                            |             Success              |  Success (drone ship)  |
| 2017-05-01 |  11:15:00  |  F9 FT B1032.1  |  KSC LC-39A  |                            NROL-76                            |        5300       |     LEO     |                            NRO                            |             Success              |  Success (ground pad)  |
| 2017-05-15 |  23:21:00  |   F9 FT B1034   |  KSC LC-39A  |                         Inmarsat-5 F4                         |        6070       |     GTO     |                          Inmarsat                         |             Success              |       No attempt       |
| 2017-06-03 |  21:07:00  |  F9 FT B1035.1  |  KSC LC-39A  |                         SpaceX CRS-11                         |        2708       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |  Success (ground pad)  |
| 2017-06-23 |  19:10:00  |  F9 FT  B1029.2 |  KSC LC-39A  |                         BulgariaSat-1                         |        3669       |     GTO     |                         Bulsatcom                         |             Success              |  Success (drone ship)  |
| 2017-06-25 |  20:25:00  |  F9 FT B1036.1  | VAFB SLC-4E  |                         Iridium NEXT 2                        |        9600       |     LEO     |                   Iridium Communications                  |             Success              |  Success (drone ship)  |
| 2017-07-05 |  23:38:00  |   F9 FT B1037   |  KSC LC-39A  |                          Intelsat 35e                         |        6761       |     GTO     |                          Intelsat                         |             Success              |       No attempt       |
| 2017-08-14 |  16:31:00  |  F9 B4 B1039.1  |  KSC LC-39A  |                         SpaceX CRS-12                         |        3310       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |  Success (ground pad)  |
| 2017-08-24 |  18:51:00  |  F9 FT B1038.1  | VAFB SLC-4E  |                           Formosat-5                          |        475        |     SSO     |                            NSPO                           |             Success              |  Success (drone ship)  |
| 2017-09-07 |  14:00:00  |  F9 B4 B1040.1  |  KSC LC-39A  |                       Boeing X-37B OTV-5                      |        4990       |     LEO     |                       U.S. Air Force                      |             Success              |  Success (ground pad)  |
| 2017-10-09 |  12:37:00  |  F9 B4 B1041.1  | VAFB SLC-4E  |                         Iridium NEXT 3                        |        9600       |  Polar LEO  |                   Iridium Communications                  |             Success              |  Success (drone ship)  |
| 2017-10-11 |  22:53:00  |  F9 FT  B1031.2 |  KSC LC-39A  |                     SES-11 / EchoStar 105                     |        5200       |     GTO     |                        SES EchoStar                       |             Success              |  Success (drone ship)  |
| 2017-10-30 |  19:34:00  |  F9 B4 B1042.1  |  KSC LC-39A  |                          Koreasat 5A                          |        3500       |     GTO     |                       KT Corporation                      |             Success              |  Success (drone ship)  |
| 2017-12-15 |  15:36:00  |  F9 FT  B1035.2 | CCAFS SLC-40 |                         SpaceX CRS-13                         |        2205       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |  Success (ground pad)  |
| 2017-12-23 |  1:27:00   |  F9 FT  B1036.2 | VAFB SLC-4E  |                         Iridium NEXT 4                        |        9600       |  Polar LEO  |                   Iridium Communications                  |             Success              |   Controlled (ocean)   |
| 2018-01-08 |  1:00:00   |  F9 B4 B1043.1  | CCAFS SLC-40 |                              Zuma                             |        5000       |     LEO     |                      Northrop Grumman                     | Success (payload status unclear) |  Success (ground pad)  |
| 2018-01-31 |  21:25:00  |  F9 FT  B1032.2 | CCAFS SLC-40 |                       GovSat-1 / SES-16                       |        4230       |     GTO     |                            SES                            |             Success              |   Controlled (ocean)   |
| 2018-02-22 |  14:17:00  |  F9 FT  B1038.2 | VAFB SLC-4E  |                       Paz  Tintin A & B                       |        2150       |     SSO     |                 Hisdesat exactEarth SpaceX                |             Success              |       No attempt       |
| 2018-03-06 |  5:33:00   |   F9 B4 B1044   | CCAFS SLC-40 |                     Hispasat 30W-6  PODSat                    |        6092       |     GTO     |                    Hispasat  NovaWurks                    |             Success              |       No attempt       |
| 2018-03-30 |  14:14:00  |  F9 B4  B1041.2 | VAFB SLC-4E  |                         Iridium NEXT 5                        |        9600       |  Polar LEO  |                   Iridium Communications                  |             Success              |       No attempt       |
| 2018-04-02 |  20:30:00  |  F9 B4  B1039.2 | CCAFS SLC-40 |                         SpaceX CRS-14                         |        2647       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |       No attempt       |
| 2018-04-18 |  22:51:00  |  F9 B4 B1045.1  | CCAFS SLC-40 |          Transiting Exoplanet Survey Satellite (TESS)         |        362        |     HEO     |                         NASA (LSP)                        |             Success              |  Success (drone ship)  |
| 2018-05-11 |  20:14:00  |  F9 B5  B1046.1 |  KSC LC-39A  |                         Bangabandhu-1                         |        3600       |     GTO     |                     Thales-Alenia/BTRC                    |             Success              |  Success (drone ship)  |
| 2018-05-22 |  19:47:58  |  F9 B4  B1043.2 | VAFB SLC-4E  |                 Iridium NEXT 6   GRACE-FO 1, 2                |        6460       |  Polar LEO  |             Iridium Communications GFZ ‚ NASA             |             Success              |       No attempt       |
| 2018-06-04 |  4:45:00   |  F9 B4  B1040.2 | CCAFS SLC-40 |                             SES-12                            |        5384       |     GTO     |                            SES                            |             Success              |       No attempt       |
| 2018-06-29 |  9:42:00   |  F9 B4 B1045.2  | CCAFS SLC-40 |                         SpaceX CRS-15                         |        2697       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |       No attempt       |
| 2018-07-22 |  5:50:00   |   F9 B5B1047.1  | CCAFS SLC-40 |                          Telstar 19V                          |        7075       |     GTO     |                          Telesat                          |             Success              |        Success         |
| 2018-07-25 |  11:39:00  |   F9 B5B1048.1  | VAFB SLC-4E  |                         Iridium NEXT-7                        |        9600       |  Polar LEO  |                   Iridium Communications                  |             Success              |        Success         |
| 2018-08-07 |  5:18:00   |  F9 B5 B1046.2  | CCAFS SLC-40 |                          Merah Putih                          |        5800       |     GTO     |                      Telkom Indonesia                     |             Success              |        Success         |
| 2018-09-10 |  4:45:00   |   F9 B5B1049.1  | CCAFS SLC-40 |                    Telstar 18V / Apstar-5C                    |        7060       |     GTO     |                          Telesat                          |             Success              |        Success         |
| 2018-10-08 |  2:22:00   |  F9 B5 B1048.2  | VAFB SLC-4E  |                           SAOCOM 1A                           |        3000       |     SSO     |                           CONAE                           |             Success              |        Success         |
| 2018-11-15 |  20:46:00  |  F9 B5 B1047.2  |  KSC LC-39A  |                           Es hail 2                           |        5300       |     GTO     |                         Es hailSat                        |             Success              |        Success         |
| 2018-12-03 |  18:34:05  |  F9 B5 B1046.3  | VAFB SLC-4E  |                             SSO-A                             |        4000       |     SSO     |                   Spaceflight Industries                  |             Success              |        Success         |
| 2018-12-05 |  18:16:00  |    F9 B5B1050   | CCAFS SLC-40 |                         SpaceX CRS-16                         |        2500       |  LEO (ISS)  |                         NASA (CRS)                        |             Success              |        Failure         |
| 2018-12-23 |  13:51:00  |    F9 B5B1054   | CCAFS SLC-40 |                          GPS III-01                           |        4400       |     MEO     |                            USAF                           |             Success              |       No attempt       |
| 2019-01-11 |  15:31:00  |  F9 B5 B1049.2  | VAFB SLC-4E  |                         Iridium NEXT-8                        |        9600       |  Polar LEO  |                   Iridium Communications                  |             Success              |        Success         |
| 2019-02-22 |  1:45:00   |  F9 B5 B1048.3  | CCAFS SLC-40 |           Nusantara Satu, Beresheet Moon lander, S5           |        4850       |     GTO     |                     PSN, SpaceIL / IAI                    |             Success              |        Success         |

In [ ]:
unique_launchsite = %sql select distinct Launch_Site from SPACEXTABLE
print(unique_launchsite)

 * sqlite:///my_data1.db
Done.
+--------------+
| Launch_Site  |
+--------------+
| CCAFS LC-40  |
| VAFB SLC-4E  |
|  KSC LC-39A  |
| CCAFS SLC-40 |
+--------------+

In [ ]:
#Task 2 Display 5 records where launch sites begin with the string 'CCA'
task2 = %sql select * from SPACEXTABLE where Launch_Site Like 'CCA%' limit 5
print(task2)

 * sqlite:///my_data1.db
Done.
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                            Payload                            | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome   |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |              Dragon Spacecraft Qualification Unit             |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute) |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute) |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40 |                     Dragon demo flight C2                     |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt     |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40 |                          SpaceX CRS-1                         |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                          SpaceX CRS-2                         |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+

In [ ]:
task_3 = %sql SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE  WHERE Customer LIKE '%NASA (CRS)%';
print(task_3)

 * sqlite:///my_data1.db
Done.
+------------------------+
| SUM(PAYLOAD_MASS__KG_) |
+------------------------+
|         48213          |
+------------------------+

In [ ]:
#Task 4: Display average payload mass carried by booster version F9 v1.1
task_4 = %sql SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE  WHERE Booster_Version = 'F9 v1.1';
print(task_4)

 * sqlite:///my_data1.db
Done.
+------------------------+
| AVG(PAYLOAD_MASS__KG_) |
+------------------------+
|         2928.4         |
+------------------------+

In [ ]:
#Task 5: List the date when the first successful landing outcome in ground pad was achieved
%sql SELECT MIN(Date) AS First_Successful_Landing_Date  FROM SPACEXTABLE  WHERE Landing_Outcome = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

In [ ]:
#Task 6: List the names of boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000
%sql SELECT DISTINCT Booster_Version  FROM SPACEXTABLE  WHERE Landing_Outcome = 'Success (drone ship)'  AND PAYLOAD_MASS__KG_ > 4000  AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [ ]:
#Task 7: List the total number of successful and failure mission outcomes
%sql SELECT Landing_Outcome, COUNT(*) AS Total_Count  FROM SPACEXTABLE  GROUP BY Landing_Outcome;

 * sqlite:///my_data1.db
Done.

[('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 21),
 ('No attempt ', 1),
 ('Precluded (drone ship)', 1),
 ('Success', 38),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Uncontrolled (ocean)', 2)]

In [ ]:
#Task 8: List all booster versions that have carried the maximum payload mass
%sql SELECT Booster_Version  FROM SPACEXTABLE  WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

In [ ]:
#Task 9: List records for months in year 2015
%sql SELECT substr(Date, 6, 2) AS Month, Booster_Version, Launch_Site, Landing_Outcome  FROM SPACEXTABLE  WHERE substr(Date, 1, 4) = '2015';

 * sqlite:///my_data1.db
Done.

[('01', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('02', 'F9 v1.1 B1013', 'CCAFS LC-40', 'Controlled (ocean)'),
 ('03', 'F9 v1.1 B1014', 'CCAFS LC-40', 'No attempt'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('04', 'F9 v1.1 B1016', 'CCAFS LC-40', 'No attempt'),
 ('06', 'F9 v1.1 B1018', 'CCAFS LC-40', 'Precluded (drone ship)'),
 ('12', 'F9 FT B1019', 'CCAFS LC-40', 'Success (ground pad)')]

In [ ]:
#Task 10: Rank landing outcomes between specific dates in descending order
%sql SELECT Landing_Outcome, COUNT(*) AS Outcome_Count  FROM SPACEXTABLE  WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'  GROUP BY Landing_Outcome  ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]